In [45]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
PATH = 'C:\\Workspace\\min\\open_mj\\train.csv'
data = pd.read_csv(PATH)
data

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,TRAIN_000000,USER_00000,BOOK_044368,8,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira
1,TRAIN_000001,USER_00000,BOOK_081205,8,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books
2,TRAIN_000002,USER_00000,BOOK_086781,0,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books
3,TRAIN_000003,USER_00000,BOOK_098622,0,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon
4,TRAIN_000004,USER_00000,BOOK_180810,8,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book
...,...,...,...,...,...,...,...,...,...,...
871388,TRAIN_871388,USER_92096,BOOK_081138,0,34.0,"minneapolis, minnesota, usa",Healing Words: The Power of Prayer and the Pra...,Larry Dossey,1993.0,Harpercollins
871389,TRAIN_871389,USER_92097,BOOK_258124,0,35.0,"temple, texas, usa",The Salmon of Doubt: Hitchhiking the Galaxy On...,DOUGLAS ADAMS,2002.0,Harmony
871390,TRAIN_871390,USER_92098,BOOK_071848,0,45.0,"ottawa, ontario, canada",Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2000.0,Thorndike Press
871391,TRAIN_871391,USER_92099,BOOK_252599,8,43.0,"maple grove, minnesota, usa",Heartbreak Hill: Anatomy of a Ryder Cup,Tim Rosaforte,1996.0,St Martins Pr
871392,TRAIN_871392,USER_92100,BOOK_130798,0,35.0,"castiglion fiorentino, toscana, italy",The Coffin Quilt: The Feud between the Hatfiel...,Ann Rinaldi,1999.0,Harcourt Children's Books

In [46]:
data.isna().sum() #결측치확인

ID                     0
User-ID                0
Book-ID                0
Book-Rating            0
Age                    0
Location               0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [47]:
data.info() #text데이터를 숫자로 변환 - 원핫인코딩 , 범주형데이터 ID,User-ID
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871393 entries, 0 to 871392
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   871393 non-null  object
 1   User-ID              871393 non-null  object
 2   Book-ID              871393 non-null  object
 3   Book-Rating          871393 non-null  int64
 4   Age                  871393 non-null  float64
 5   Location             871393 non-null  object
 6   Book-Title           871393 non-null  object
 7   Book-Author          871393 non-null  object
 8   Year-Of-Publication  871393 non-null  float64
 9   Publisher            871393 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 66.5+ MB

         Book-Rating            Age  Year-Of-Publication
count  871393.000000  871393.000000        871393.000000
mean        2.820579      36.799861          1968.903339
std         3.846906      12.065509           228.077752
min         0.000000       0.000000            -1.000000
25%         0.000000      31.000000          1991.000000
50%         0.000000      35.000000          1997.000000
75%         7.000000      41.000000          2001.000000
max        10.000000     244.000000          2021.000000

In [48]:
# 1. USER-ID 수치화 - 정석
# 2. Book-ID 수치화 - 미진
# 3. 나라 수치화 - 예림
# 4. 수치 데이터 모델링 - 도경

# Book-ID column에서 'BOOK_' 이외에 STRING이 있는지 확인 -> 없음
data_filtered = data[~data['Book-ID'].astype(str).str.contains('BOOK_')]

#Book-ID type을 int로 변경
data['Book-ID'] = data['Book-ID'].str.extract('(\d+)',expand=False) 
# data['Book-ID'] = data['Book-ID'].str.replace('BOOK_','') -> 이 코드도 사용 가능 
data['Book-ID'] = data['Book-ID'].astype(int)

In [49]:
#User-ID type을 int로 변경
data['User-ID'] = data['User-ID'].str.extract('(\d+)',expand=False) 
# data['Book-ID'] = data['Book-ID'].str.replace('BOOK_','') -> 이 코드도 사용 가능 
data['User-ID'] = data['User-ID'].astype(int)

In [50]:
data.info() # Book-ID, User-ID column 을 int로 변환 완료

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871393 entries, 0 to 871392
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   871393 non-null  object
 1   User-ID              871393 non-null  int32
 2   Book-ID              871393 non-null  int32
 3   Book-Rating          871393 non-null  int64
 4   Age                  871393 non-null  float64
 5   Location             871393 non-null  object
 6   Book-Title           871393 non-null  object
 7   Book-Author          871393 non-null  object
 8   Year-Of-Publication  871393 non-null  float64
 9   Publisher            871393 non-null  object
dtypes: float64(2), int32(2), int64(1), object(5)
memory usage: 59.8+ MB

In [51]:
## 나라 도출하기
# Location column에서 value를 , 로 리스트 split하여 마지막 value 가져오기
Loc = data['Location'].str.split(',').str[-1]

#원래 데이터와 합치기
data = pd.concat([data, Loc], axis=1)
data = data.rename(columns={data.columns[-1]: 'Country'})
data

,ID,User-ID,Book-ID,Book-Rating,Age,Country,Book-Title,Book-Author,Year-Of-Publication,Publisher,Country
0,TRAIN_000000,0,44368,8,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira,canada
1,TRAIN_000001,0,81205,8,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books,canada
2,TRAIN_000002,0,86781,0,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books,canada
3,TRAIN_000003,0,98622,0,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon,canada
4,TRAIN_000004,0,180810,8,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book,canada
...,...,...,...,...,...,...,...,...,...,...,...
871388,TRAIN_871388,92096,81138,0,34.0,"minneapolis, minnesota, usa",Healing Words: The Power of Prayer and the Pra...,Larry Dossey,1993.0,Harpercollins,usa
871389,TRAIN_871389,92097,258124,0,35.0,"temple, texas, usa",The Salmon of Doubt: Hitchhiking the Galaxy On...,DOUGLAS ADAMS,2002.0,Harmony,usa
871390,TRAIN_871390,92098,71848,0,45.0,"ottawa, ontario, canada",Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2000.0,Thorndike Press,canada
871391,TRAIN_871391,92099,252599,8,43.0,"maple grove, minnesota, usa",Heartbreak Hill: Anatomy of a Ryder Cup,Tim Rosaforte,1996.0,St Martins Pr,usa
871392,TRAIN_871392,92100,130798,0,35.0,"castiglion fiorentino, toscana, italy",The Coffin Quilt: The Feud between the Hatfiel...,Ann Rinaldi,1999.0,Harcourt Children's Books,italy

In [ ]:
data1 = data[data['Book-Rating']!=0]
sns.histplot(data=data1, x='Book-Rating')

In [ ]:
sns.heatmap(data.corr(), annot=True)

In [52]:
#Scaling prep
data.drop(['ID', 'Country',	'Book-Title','Book-Author','Publisher'], axis=1, inplace = True)
data

        User-ID  Book-ID  Book-Rating   Age  Year-Of-Publication
0             0    44368            8  23.0               2001.0
1             0    81205            8  23.0               1981.0
2             0    86781            0  23.0               1981.0
3             0    98622            0  23.0               1991.0
4             0   180810            8  23.0               1989.0
...         ...      ...          ...   ...                  ...
871388    92096    81138            0  34.0               1993.0
871389    92097   258124            0  35.0               2002.0
871390    92098    71848            0  45.0               2000.0
871391    92099   252599            8  43.0               1996.0
871392    92100   130798            0  35.0               1999.0

[871393 rows x 5 columns]

In [83]:
#이상치제거 ------여기부터 내일 다시
def outlier_remove(data, columns):
    q1 = data[columns].quantile(0.25)
    q3 = data[columns].quantile(0.75)
    iqr = q3-q1

    boundary = 1.5*iqr  

    index1 = data[data[columns] > q3+boundary].index
    index2 = data[data[columns] < q1-boundary].index

    data[columns]=data[columns].drop(index1)
    data[columns]=data[columns].drop(index2)

    return data

In [ ]:
outlier_remove()

In [53]:
#Scaling
from sklearn.preprocessing import MinMaxScaler
mmscaler = MinMaxScaler()
mmscaler

MinMaxScaler()

In [75]:
#y = data.pop('Book-Rating')
X = data
y
X.columns

Index(['User-ID', 'Book-ID', 'Age', 'Year-Of-Publication'], dtype='object')

In [76]:
X = mmscaler.fit_transform(X)
X

array([[0.        , 0.16428936, 0.0942623 , 0.9901088 ],
       [0.        , 0.30069542, 0.0942623 , 0.98021761],
       [0.        , 0.32134314, 0.0942623 , 0.98021761],
       ...,
       [0.99997828, 0.26604679, 0.18442623, 0.98961424],
       [0.99998914, 0.93536108, 0.17622951, 0.987636  ],
       [1.        , 0.48433647, 0.14344262, 0.98911968]])

In [77]:
#확인을 위해 train,test data 분할
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [78]:
from sklearn.tree import DecisionTreeRegressor
dt_model = DecisionTreeRegressor()

In [79]:
dt_model.fit(X_train, y_train)

DecisionTreeRegressor()

In [80]:
pred_dt = dt_model.predict(X_test)

In [81]:
from sklearn.metrics import r2_score
r2_score(y_test,pred_dt) #-0.5165856965856368 treeclassifier 는 별로ㅠ

-0.5352047959795776

In [64]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)

RandomForestRegressor()

In [65]:
pred_rf = rf_model.predict(X_test)

In [66]:
r2_score(y_test,pred_rf) #-0.47327163780793957, 0.08973041964075146

0.08973041964075146


----------------------

In [ ]:
## 삽질

# filtered = data[data['Location'] == 'n/a, n/a, n/a']
# filtered_over0 = filtered[filtered['Book-Rating'] > 0]


# Loc = data['Location'].str.split(',').str[-1]

# data = pd.concat([data, Loc], axis=1)
# data.rename(columns={-1:'Country'}, inplace=True)
# data.columns.values[-1] = 'Country'


# filtered = data[data['Location'] == 'n/a, n/a, n/a']
# filtered
# filtered_over0 = filtered[filtered['Book-Rating'] > 0]
# filtered_over0

# values counts X축
# values는 y축
# data.Location.value_counts()


# age_counts = data.Age.value_counts()
# age1 = age_counts[age_counts > 20000].index.tolist()
# filtered_data = data[data['Age'].isin(age1)]
# age1_counts = filtered_data.Age.value


# data['Book-Title'].value_counts()

#book ID가 1개 보다 많은 것 (하나보다 많이 팔린?)
# book_counts = data['Book-ID'].value_counts()
# filtered_counts = book_counts[book_counts > 1]




## book counts가 하나인 것 평점 확인
# get Book-ID values where the value counts is 1
# unique_books = book_counts[book_counts == 1].index.tolist()

#filter the data by Book-ID values where the value counts is 1
# filtered_data2 = data[data['Book-ID'].isin(unique_books)][['Book-ID','Book-Rating']]

#print the filtered data
# filtered_data2



# import matplotlib.pyplot as plt

# filtered_data = data[data['Publisher'] >= 1]

#get value counts of Publisher column
# mmj = filtered_data['Publisher'].value_counts() 
# mj = pd.DataFrame(mmj)

#sort the dataframe by the index (i.e., by year)
# j = mj.sort_index()

#plot the graph
# plt.plot(mj.index, mj['Year-Of-Publication'])
# plt.xlabel('Year')
# plt.ylabel('Number of books published')
# plt.title('Books published each year from 1900')
# plt.show()

# mj1 = mj.sort_index()

# author = data['Book-Author'].value_counts()  
# author1 = pd.DataFrame(author)


# data = data.drop(data.columns[-1], axis=1)